<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis exceptions." ToolsVersion="1.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" /> <!-- Suppress comment analysis -->
    <Rule Id="SA1633" Action="None" /> <!-- Suppress header documentation -->
    <Rule Id="SA1652" Action="None" /> <!-- Suppress XML documentation warning -->
    <Rule Id="SA1101" Action="None" /> <!-- Suppress Prefix local calls with this-->
  </Rules>
</RuleSet>